html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

header {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    color: white;
    background: #252525;
    padding-left: 10px;
    font-family: Montserrat, sans-serif !important;
    gap: 15px;
    z-index: 1000;
}

div.menu-content {
    height: calc(100vh - 50px) !important;
    top: 50px !important;
}

a.headerLink {
    color: white;
    text-decoration: none;
    font-size: 23px;
    margin-top: 10px;
}

a.logoLink {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
    margin-right: 10px;
}
a.logoLink > p{
    margin-top: 7px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

a.active {
    font-weight: bold;
}

img.logo {
    width: 36px;
    height: 36px;
    margin: 7px;
}

main {
    height: auto;
}

main.index {
    margin-left: 5%;
    margin-right: 5%;
}

a {
    color: black;
}

.topbar
{
    display: none;
}