html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    display: flex;
    flex-direction: column;
}

header {
    height: 50px;
    display: flex;
    flex-direction: row;
    color: white;
    background: #252525;
    padding-left: 10px;
    font-family: 'Noto Sans', sans-serif !important;
    gap: 15px;
}

a.headerLink {
    color: white;
    text-decoration: none;
    font-size: 23px;
    margin-top: 7px;
}

a.logoLink {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

a.active {
    font-weight: bold;
}

img.logo {
    width: 40px;
    height: 40px;
    margin: 5px;
}

main {
    height: auto;
}

main.index {
    margin-left: 5%;
    margin-right: 5%;
}

a {
    color: black;
}

.topbar
{
    display: none;
}