openapi: 3.0.0
x-stoplight:
  id: emlpc48xqf234
info:
  title: Nicovideo API
  version: 1.0.0
  description: ニコニコ動画に関する情報を取得するAPI
servers:
  - url: 'https://nvapi.nicovideo.jp'
paths:
  '/v1/users/{userId}':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Get User Information
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      user:
                        $ref: ./models/User.yaml
                      relationships:
                        type: object
                        properties:
                          sessionUser:
                            type: object
                            properties:
                              isFollowing:
                                type: boolean
                                default: false
                                description: ログイン中のユーザーがフォローしているか
                          isMe:
                            type: boolean
                            default: false
                            description: ログイン中のユーザーかどうか
                required:
                  - meta
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      user:
                        description: 'さとうささら推しの動画投稿者。<br>チャンネル：<a href="https://nicochannel.jp/taitanu/" target="_blank" rel="noopener nofollow">https://nicochannel.jp/taitanu/</a><br><br>イラスト：<a href="https://seiga.nicovideo.jp/user/illust/41035256" target="_blank" rel="noopener nofollow">https://seiga.nicovideo.jp/user/illust/41035256</a><br>Twitter：<a href="https://twitter.com/Taitan_F" target="_blank" rel="noopener nofollow">https://twitter.com/Taitan_F</a><br>アイコンはトゥーミさんよりお借りしています！'
                        decoratedDescriptionHtml: 'さとうささら推しの動画投稿者。<br>チャンネル：<a href="https://nicochannel.jp/taitanu/" target="_blank" rel="noopener nofollow">https://nicochannel.jp/taitanu/</a><br><br>イラスト：<a href="https://seiga.nicovideo.jp/user/illust/41035256" target="_blank" rel="noopener nofollow">https://seiga.nicovideo.jp/user/illust/41035256</a><br>Twitter：<a href="https://twitter.com/Taitan_F" target="_blank" rel="noopener nofollow">https://twitter.com/Taitan_F</a><br>アイコンはトゥーミさんよりお借りしています！'
                        strippedDescription: 'さとうささら推しの動画投稿者。チャンネル：https://nicochannel.jp/taitanu/イラスト：https://seiga.nicovideo.jp/user/illust/41035256Twitter：https://twitter.com/Taitan_Fアイコンはトゥーミさんよりお借りしています！'
                        isPremium: true
                        registeredVersion: (GINZA)
                        followeeCount: 168
                        followerCount: 65454
                        userLevel:
                          currentLevel: 171
                          nextLevelThresholdExperience: 46000
                          nextLevelExperience: 36208
                          currentLevelExperience: 9792
                        userChannel: null
                        isNicorepoReadable: true
                        sns:
                          - type: twitter
                            label: Twitter
                            iconUrl: 'https://nicovideo.cdn.nimg.jp/web/images/sns_icon/twitter.png'
                            screenName: Taitan_F
                            url: 'https://twitter.com/Taitan_F'
                          - type: youtube
                            label: YouTube
                            iconUrl: 'https://nicovideo.cdn.nimg.jp/web/images/sns_icon/youtube.png'
                            screenName: UC32Qg0Ul1iKjOeLljIukCgg
                            url: 'https://www.youtube.com/channel/UC32Qg0Ul1iKjOeLljIukCgg'
                        coverImage: null
                        id: 41035256
                        nickname: たいたぬ
                        icons:
                          small: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/s/4103/41035256.jpg?1538414941'
                          large: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/4103/41035256.jpg?1538414941'
                      relationships:
                        sessionUser:
                          isFollowing: true
                        isMe: false
      operationId: get-v1-users-userId
      description: 指定したユーザーIDの詳細なユーザー情報を取得します。
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: string
            example: '0'
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
      tags:
        - Users
  '/v3/users/{userId}/videos':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Get User Videos
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      totalCount:
                        type: integer
                      items:
                        type: array
                        items:
                          $ref: ./models/Movie.yaml
                required:
                  - meta
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      totalCount: 56
                      items:
                        - series: null
                          essential:
                            type: essential
                            id: sm34693045
                            title: 【ApexLegends】辺境歩きのユカリAPEX【VOICEROID実況】
                            registeredAt: '2019-02-26T19:00:00+09:00'
                            count:
                              view: 283516
                              comment: 2247
                              mylist: 897
                              like: 270
                            thumbnail:
                              url: 'https://nicovideo.cdn.nimg.jp/thumbnails/34693045/34693045.65360'
                              middleUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/34693045/34693045.65360.M'
                              largeUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/34693045/34693045.65360.L'
                              listingUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/34693045/34693045.65360.M'
                              nHdUrl: 'https://img.cdn.nimg.jp/s/nicovideo/thumbnails/34693045/34693045.65360.original/r640x360l?key=0953c49be5975f3ea708428204477f5b3be8a9c5e5df0487fe0689bb2584c451'
                            duration: 1069
                            shortDescription: PC/PS4/箱1の無料バトロワゲーです。このゲームがここまで面白いと誰が予想できただろうか…---
                            latestCommentSummary: はぐニキとかいう化け物小隊長w 促進剤は！？ シールドがー わかる 島がドンパチにぎやかになったらだ そうだよ(便乗) 『`д´『 神読 せんちねる！ 座ー子 懐かしいなこのMAP パラサイト・イヴ1のボス戦BGMとそっくり 玉は大丈夫か？ 2022...
                            isChannelVideo: false
                            isPaymentRequired: false
                            playbackPosition: null
                            owner:
                              ownerType: user
                              type: user
                              visibility: visible
                              id: '227322'
                              name: ヶ崎
                              iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/22/227322.jpg?1571567072'
                            requireSensitiveMasking: false
                            videoLive: null
                            isMuted: false
                            9d091f87: false
                            acf68865: false
      operationId: get-v3-users-userId-videos
      description: 指定したユーザーIDの投稿している動画情報を取得します。
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: string
            example: '0'
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
        - schema:
            type: string
            default: registeredAt
            enum:
              - registeredAt
              - viewCount
              - lastCommentTime
              - commentCount
              - likeCount
              - mylistCount
              - duration
          in: query
          name: sortKey
          description: ソートする方法
        - schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          in: query
          name: sortOrder
          description: 降順か昇順か
        - schema:
            type: integer
            default: 30
          in: query
          name: pageSize
          description: 一度に表示する動画数
        - schema:
            type: integer
            default: 1
          in: query
          name: page
          description: ページ番号
        - schema:
            type: string
            default: mask
          in: query
          name: sensitiveContents
          description: センシティブコンテンツを隠すか
      tags:
        - Users
  '/v1/users/{userId}/series':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Get User Series
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      totalCount:
                        type: integer
                      items:
                        type: array
                        items:
                          $ref: ./models/Series.yaml
                required:
                  - meta
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      totalCount: 253
                      items:
                        - id: 361920
                          owner:
                            type: user
                            id: '13647798'
                          title: 風の又三郎 ‐Scarlet Girl with Wind Voice‐（新クトゥルフ神話TRPG）
                          isListed: true
                          description: ''
                          thumbnailUrl: 'https://nicovideo.cdn.nimg.jp/web/img/series/no_thumbnail.png'
                          itemsCount: 9
      operationId: get-v1-users-userId-series
      description: 指定したユーザーIDのシリーズ情報を取得します。
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: string
            example: '0'
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
        - schema:
            type: integer
          in: query
          name: pageSize
          description: 一度に表示する動画数
        - schema:
            type: integer
            default: 1
          in: query
          name: page
          description: ページ番号
      tags:
        - Users
  '/v1/users/{userId}/mylists':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Get User Mylists
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      mylists:
                        type: array
                        items:
                          $ref: ./models/Mylist.yaml
                required:
                  - meta
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      mylists:
                        - id: 71043760
                          isPublic: true
                          name: エモクロア
                          description: ''
                          decoratedDescriptionHtml: ''
                          defaultSortKey: addedAt
                          defaultSortOrder: desc
                          itemsCount: 47
                          owner:
                            ownerType: user
                            type: user
                            visibility: visible
                            id: '13647798'
                            name: ニコライ・ボルコフ
                            iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/1364/13647798.jpg?1596133406'
                          sampleItems: []
                          followerCount: 86
                          createdAt: '2021-05-17T07:38:44+09:00'
                          isFollowing: false
      operationId: get-v1-users-userId-mylists
      description: 指定したユーザーIDのマイリストを取得します。
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: string
            example: '0'
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
        - schema:
            type: integer
            default: 0
          in: query
          name: sampleItemCount
      tags:
        - Users
  '/v1/users/{userId}/following/users':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Get User Following User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: ./models/MinimamUser.yaml
                      summary:
                        type: object
                        properties:
                          followees:
                            type: integer
                          followers:
                            type: integer
                          hasNext:
                            type: boolean
                          cursor:
                            type: string
                required:
                  - meta
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      items:
                        - type: relationship
                          relationships:
                            sessionUser:
                              isFollowing: true
                          isPremium: true
                          description: 'VOICEROIDの動画を作ってます。<br/>【放送室】co2979039 【YouTube】https://www.youtube.com/c/Kisaragiragi<br/>【連絡先】https://twitter.com/Ragi05'
                          strippedDescription: 'VOICEROIDの動画を作ってます。【放送室】co2979039 【YouTube】https://www.youtube.com/c/Kisaragiragi【連絡先】https://twitter.com/Ragi05'
                          shortDescription: 'VOICEROIDの動画を作ってます。【放送室】co2979039 【YouTube】https:/'
                          id: 814203
                          nickname: 如月ラギ
                          icons:
                            small: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/s/81/814203.jpg?1637921130'
                            large: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/81/814203.jpg?1637921130'
                      summary:
                        followees: 56
                        followers: 109278
                        hasNext: true
                        cursor: '20220807135613_814203'
      operationId: get-v1-users-userId-following-users
      description: 指定したユーザーIDのフォローしているユーザーを取得します。
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: string
            example: '0'
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
        - schema:
            type: integer
          in: query
          name: pageSize
          required: true
        - schema:
            type: integer
            default: 1
          in: query
          name: page
      tags:
        - Users
  '/v1/users/{userId}/followed-by/users':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Get User FollowedBy User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: ./models/MinimamUser.yaml
                      summary:
                        type: object
                        properties:
                          followees:
                            type: integer
                          followers:
                            type: integer
                          hasNext:
                            type: boolean
                          cursor:
                            type: string
                required:
                  - meta
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      items:
                        - type: relationship
                          relationships:
                            sessionUser:
                              isFollowing: true
                          isPremium: true
                          description: 'VOICEROIDの動画を作ってます。<br/>【放送室】co2979039 【YouTube】https://www.youtube.com/c/Kisaragiragi<br/>【連絡先】https://twitter.com/Ragi05'
                          strippedDescription: 'VOICEROIDの動画を作ってます。【放送室】co2979039 【YouTube】https://www.youtube.com/c/Kisaragiragi【連絡先】https://twitter.com/Ragi05'
                          shortDescription: 'VOICEROIDの動画を作ってます。【放送室】co2979039 【YouTube】https:/'
                          id: 814203
                          nickname: 如月ラギ
                          icons:
                            small: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/s/81/814203.jpg?1637921130'
                            large: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/81/814203.jpg?1637921130'
                      summary:
                        followees: 56
                        followers: 109278
                        hasNext: true
                        cursor: '20220807135613_814203'
      operationId: get-v1-users-userId-followed-by-users
      description: 指定したユーザーIDのフォローされているユーザーを取得します。
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: string
            example: '0'
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
        - schema:
            type: integer
          in: query
          name: pageSize
          required: true
        - schema:
            type: integer
            default: 1
          in: query
          name: page
      tags:
        - Users
  /v2/search/video:
    get:
      summary: Search Videos By Keyword or Tag
      tags:
        - Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      searchId:
                        type: string
                      keyword:
                        type: string
                        nullable: true
                      tag:
                        type: string
                        nullable: true
                      genres:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            labe;:
                              type: string
                      totalCount:
                        type: integer
                      hasNext:
                        type: boolean
                      items:
                        type: array
                        items:
                          $ref: ./models/Movie.yaml
                      additionals:
                        type: object
                        properties:
                          waku:
                            type: object
                          tags:
                            type: array
                            items:
                              type: object
                              properties:
                                text:
                                  type: string
                                type:
                                  type: string
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      searchId: 45629418-d06e-4ea0-8f28-f89007ba0f46
                      keyword: VOICEROID実況プレイ
                      tag: null
                      genres:
                        - key: game
                          label: ゲーム
                      totalCount: 3728
                      hasNext: true
                      items:
                        - type: essential
                          id: sm41266162
                          title: みんなお待ちかねのトロンボーンカードタイム！！！！！！【Trombone Champ】
                          registeredAt: '2022-10-22T20:00:00+09:00'
                          count:
                            view: 890
                            comment: 42
                            mylist: 10
                            like: 161
                          thumbnail:
                            url: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266162/41266162.31683622'
                            middleUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266162/41266162.31683622.M'
                            largeUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266162/41266162.31683622.L'
                            listingUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266162/41266162.31683622.M'
                            nHdUrl: 'https://img.cdn.nimg.jp/s/nicovideo/thumbnails/41266162/41266162.31683622.original/r640x360l?key=96dbe4f8bb405f8db5c302fc055e5c7d1d13428b8f72916cc818ab2ff84e9530'
                          duration: 95
                          shortDescription: 待たせたね！！！！！！！！！【ことのはうす。シリーズ】series/272272【ことのあそびシリー
                          latestCommentSummary: ストラビンスキーと言えば映像の世紀だな！！ おつ うぽつ おつ うぽつ ぽつー うぽつ うぽつ うぽつー おつ うぽつ ふふふ ドヤッシー 安定のトイボクシング 何故ホットドッグ？ レピッシュ ノートロンボーンノーライフ 乙です うぽつ ことのあーそ...
                          isChannelVideo: false
                          isPaymentRequired: false
                          playbackPosition: null
                          owner:
                            ownerType: user
                            type: user
                            visibility: visible
                            id: '35947073'
                            name: いえろーず
                            iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/3594/35947073.jpg?1658435372'
                          requireSensitiveMasking: false
                          videoLive: null
                          isMuted: false
                          9d091f87: false
                          acf68865: false
                      additionals:
                        tags:
                          - text: VOICEROID実況プレイ
                            type: included_word
                          - text: VOICEROID実況プレイPart1リンク
                            type: included_word
                          - text: VOICEROID実況プレイ最終回リンク
                            type: included_word
                          - text: VOICEROID実況プレイ単発リンク
                            type: included_word
                          - text: 多人数VOICEROID実況プレイ
                            type: included_word
                          - text: 非VOICEROID実況プレイ
                            type: included_word
                          - text: voiceroid実況プレイ琴葉茜・葵実況プレイ
                            type: included_word
                          - text: 非VOICEROID実況プレイPart1リンク
                            type: included_word
                          - text: 多人数VOICEROID実況プレイPart1リンク
                            type: included_word
                          - text: voiceroid実況プレイ動画
                            type: included_word
                        waku: {}
      operationId: get-v2-search-video
      description: |-
        動画を指定した条件で検索します
        **QueryParamsのkeywordとtagはどちらかを必ず指定しなければなりません**
      parameters:
        - schema:
            type: integer
            default: 6
          in: header
          name: X-Frontend-Id
          description: 固定で6
          required: true
        - schema:
            type: integer
            default: 0
          in: header
          name: X-Frontend-Version
          description: 固定で0
          required: true
        - schema:
            type: string
          in: query
          name: keyword
          description: キーワード検索
          required: true
        - schema:
            type: string
          in: query
          name: tag
          description: タグ検索
          required: true
        - schema:
            type: string
          in: query
          name: pageSize
        - schema:
            type: string
          in: query
          name: page
        - schema:
            type: string
            enum:
              - registeredAt
              - viewCount
              - lastCommentTime
              - commentCount
              - likeCount
              - mylistCount
              - duration
              - hot
              - personalized
          in: query
          name: sortKey
          required: true
        - schema:
            type: string
            enum:
              - asc
              - desc
              - none
          in: query
          name: sortOrder
          required: true
        - schema:
            type: string
          in: query
          name: sensitiveContents
        - schema:
            type: array
            default:
              - game
              - entertainment
          in: query
          name: genres
          description: ジャンル
        - schema:
            type: string
            example: included
          in: query
          name: channelVideoListingStatus
          description: チャンネル動画を表示するか
        - schema:
            type: boolean
            example: true
          in: query
          name: allowFutureContents
          description: 未来のコンテンツを表示するか
        - schema:
            type: boolean
            example: true
          in: query
          name: searchByUser
          description: ユーザー情報に基づき表示するか
        - schema:
            type: string
            example: '2022-10-22T23:21:55+09:00'
          in: query
          name: minRegisteredAt
          description: よりも後に投稿された動画
        - schema:
            type: string
            example: '2022-10-22T23:21:55+09:00'
          in: query
          name: maxRegisteredAt
          description: よりも前に投稿された動画
        - schema:
            type: integer
            example: 300
          in: query
          name: maxDuration
          description: 最長の動画長さ(秒)
components:
  schemas: {}
  securitySchemes: {}
