openapi: 3.0.0
x-stoplight:
  id: emlpc48xqf234
info:
  title: Nicovideo API
  version: 1.0.0
  description: |-
    ニコニコ動画に関する情報を取得するAPI

    #### Contribute
    このドキュメントは[GitHub](https://github.com/niconicolibs/api)で管理されています。追加・修正はPRを送ってください。
  contact:
    name: niconicolibs
    url: 'https://github.com/niconicolibs/api'
servers:
  - url: 'https://nvapi.nicovideo.jp'
tags:
  - name: Users
    description: About Niconico User
  - name: Search
    description: Search Videos
  - name: Ranking
    description: Get Ranking
  - name: List
    description: About Mylist and Series
  - name: Video
    description: About Video
  - name: Other
    description: Other API
paths:
  '/v1/users/{userId}':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Get User Information
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      user:
                        $ref: ./models/User.yaml
                      relationships:
                        type: object
                        properties:
                          sessionUser:
                            type: object
                            properties:
                              isFollowing:
                                type: boolean
                                default: false
                                description: ログイン中のユーザーがフォローしているか
                          isMe:
                            type: boolean
                            default: false
                            description: ログイン中のユーザーかどうか
                required:
                  - meta
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      user:
                        description: 'さとうささら推しの動画投稿者。<br>チャンネル：<a href="https://nicochannel.jp/taitanu/" target="_blank" rel="noopener nofollow">https://nicochannel.jp/taitanu/</a><br><br>イラスト：<a href="https://seiga.nicovideo.jp/user/illust/41035256" target="_blank" rel="noopener nofollow">https://seiga.nicovideo.jp/user/illust/41035256</a><br>Twitter：<a href="https://twitter.com/Taitan_F" target="_blank" rel="noopener nofollow">https://twitter.com/Taitan_F</a><br>アイコンはトゥーミさんよりお借りしています！'
                        decoratedDescriptionHtml: 'さとうささら推しの動画投稿者。<br>チャンネル：<a href="https://nicochannel.jp/taitanu/" target="_blank" rel="noopener nofollow">https://nicochannel.jp/taitanu/</a><br><br>イラスト：<a href="https://seiga.nicovideo.jp/user/illust/41035256" target="_blank" rel="noopener nofollow">https://seiga.nicovideo.jp/user/illust/41035256</a><br>Twitter：<a href="https://twitter.com/Taitan_F" target="_blank" rel="noopener nofollow">https://twitter.com/Taitan_F</a><br>アイコンはトゥーミさんよりお借りしています！'
                        strippedDescription: 'さとうささら推しの動画投稿者。チャンネル：https://nicochannel.jp/taitanu/イラスト：https://seiga.nicovideo.jp/user/illust/41035256Twitter：https://twitter.com/Taitan_Fアイコンはトゥーミさんよりお借りしています！'
                        isPremium: true
                        registeredVersion: (GINZA)
                        followeeCount: 168
                        followerCount: 65454
                        userLevel:
                          currentLevel: 171
                          nextLevelThresholdExperience: 46000
                          nextLevelExperience: 36208
                          currentLevelExperience: 9792
                        userChannel: null
                        isNicorepoReadable: true
                        sns:
                          - type: twitter
                            label: Twitter
                            iconUrl: 'https://nicovideo.cdn.nimg.jp/web/images/sns_icon/twitter.png'
                            screenName: Taitan_F
                            url: 'https://twitter.com/Taitan_F'
                          - type: youtube
                            label: YouTube
                            iconUrl: 'https://nicovideo.cdn.nimg.jp/web/images/sns_icon/youtube.png'
                            screenName: UC32Qg0Ul1iKjOeLljIukCgg
                            url: 'https://www.youtube.com/channel/UC32Qg0Ul1iKjOeLljIukCgg'
                        coverImage: null
                        id: 41035256
                        nickname: たいたぬ
                        icons:
                          small: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/s/4103/41035256.jpg?1538414941'
                          large: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/4103/41035256.jpg?1538414941'
                      relationships:
                        sessionUser:
                          isFollowing: true
                        isMe: false
      operationId: get-v1-users-userId
      description: 指定したユーザーIDの詳細なユーザー情報を取得します。
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: string
            example: '0'
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
      tags:
        - Users
  '/v3/users/{userId}/videos':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Get User Videos
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      totalCount:
                        type: integer
                      items:
                        type: array
                        items:
                          $ref: ./models/Movie.yaml
                required:
                  - meta
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      totalCount: 56
                      items:
                        - series: null
                          essential:
                            type: essential
                            id: sm34693045
                            title: 【ApexLegends】辺境歩きのユカリAPEX【VOICEROID実況】
                            registeredAt: '2019-02-26T19:00:00+09:00'
                            count:
                              view: 283516
                              comment: 2247
                              mylist: 897
                              like: 270
                            thumbnail:
                              url: 'https://nicovideo.cdn.nimg.jp/thumbnails/34693045/34693045.65360'
                              middleUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/34693045/34693045.65360.M'
                              largeUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/34693045/34693045.65360.L'
                              listingUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/34693045/34693045.65360.M'
                              nHdUrl: 'https://img.cdn.nimg.jp/s/nicovideo/thumbnails/34693045/34693045.65360.original/r640x360l?key=0953c49be5975f3ea708428204477f5b3be8a9c5e5df0487fe0689bb2584c451'
                            duration: 1069
                            shortDescription: PC/PS4/箱1の無料バトロワゲーです。このゲームがここまで面白いと誰が予想できただろうか…---
                            latestCommentSummary: はぐニキとかいう化け物小隊長w 促進剤は！？ シールドがー わかる 島がドンパチにぎやかになったらだ そうだよ(便乗) 『`д´『 神読 せんちねる！ 座ー子 懐かしいなこのMAP パラサイト・イヴ1のボス戦BGMとそっくり 玉は大丈夫か？ 2022...
                            isChannelVideo: false
                            isPaymentRequired: false
                            playbackPosition: null
                            owner:
                              ownerType: user
                              type: user
                              visibility: visible
                              id: '227322'
                              name: ヶ崎
                              iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/22/227322.jpg?1571567072'
                            requireSensitiveMasking: false
                            videoLive: null
                            isMuted: false
                            9d091f87: false
                            acf68865: false
      operationId: get-v3-users-userId-videos
      description: 指定したユーザーIDの投稿している動画情報を取得します。
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: string
            example: '0'
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
        - schema:
            type: string
            default: registeredAt
            enum:
              - registeredAt
              - viewCount
              - lastCommentTime
              - commentCount
              - likeCount
              - mylistCount
              - duration
          in: query
          name: sortKey
          description: ソートする方法
        - schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
          in: query
          name: sortOrder
          description: 降順か昇順か
        - schema:
            type: integer
            default: 30
          in: query
          name: pageSize
          description: 一度に表示する動画数
        - schema:
            type: integer
            default: 1
          in: query
          name: page
          description: ページ番号
        - schema:
            type: string
            default: mask
            enum:
              - mask
              - filter
          in: query
          name: sensitiveContents
          description: センシティブコンテンツを隠すか
      tags:
        - Users
  '/v1/users/{userId}/series':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Get User Series
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      totalCount:
                        type: integer
                      items:
                        type: array
                        items:
                          $ref: ./models/Series.yaml
                required:
                  - meta
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      totalCount: 253
                      items:
                        - id: 361920
                          owner:
                            type: user
                            id: '13647798'
                          title: 風の又三郎 ‐Scarlet Girl with Wind Voice‐（新クトゥルフ神話TRPG）
                          isListed: true
                          description: ''
                          thumbnailUrl: 'https://nicovideo.cdn.nimg.jp/web/img/series/no_thumbnail.png'
                          itemsCount: 9
      operationId: get-v1-users-userId-series
      description: 指定したユーザーIDのシリーズ情報を取得します。
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: string
            example: '0'
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
        - schema:
            type: integer
          in: query
          name: pageSize
          description: 一度に表示する動画数
        - schema:
            type: integer
            default: 1
          in: query
          name: page
          description: ページ番号
      tags:
        - Users
  '/v1/users/{userId}/mylists':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Get User Mylists
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      mylists:
                        type: array
                        items:
                          $ref: ./models/Mylist.yaml
                required:
                  - meta
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      mylists:
                        - id: 71043760
                          isPublic: true
                          name: エモクロア
                          description: ''
                          decoratedDescriptionHtml: ''
                          defaultSortKey: addedAt
                          defaultSortOrder: desc
                          itemsCount: 47
                          owner:
                            ownerType: user
                            type: user
                            visibility: visible
                            id: '13647798'
                            name: ニコライ・ボルコフ
                            iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/1364/13647798.jpg?1596133406'
                          sampleItems: []
                          followerCount: 86
                          createdAt: '2021-05-17T07:38:44+09:00'
                          isFollowing: false
      operationId: get-v1-users-userId-mylists
      description: 指定したユーザーIDのマイリストを取得します。
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: string
            example: '0'
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
        - schema:
            type: integer
            default: 0
          in: query
          name: sampleItemCount
      tags:
        - Users
  '/v1/users/{userId}/following/users':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Get User Following User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: ./models/MinimamUser.yaml
                      summary:
                        type: object
                        properties:
                          followees:
                            type: integer
                          followers:
                            type: integer
                          hasNext:
                            type: boolean
                          cursor:
                            type: string
                required:
                  - meta
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      items:
                        - type: relationship
                          relationships:
                            sessionUser:
                              isFollowing: true
                          isPremium: true
                          description: 'VOICEROIDの動画を作ってます。<br/>【放送室】co2979039 【YouTube】https://www.youtube.com/c/Kisaragiragi<br/>【連絡先】https://twitter.com/Ragi05'
                          strippedDescription: 'VOICEROIDの動画を作ってます。【放送室】co2979039 【YouTube】https://www.youtube.com/c/Kisaragiragi【連絡先】https://twitter.com/Ragi05'
                          shortDescription: 'VOICEROIDの動画を作ってます。【放送室】co2979039 【YouTube】https:/'
                          id: 814203
                          nickname: 如月ラギ
                          icons:
                            small: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/s/81/814203.jpg?1637921130'
                            large: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/81/814203.jpg?1637921130'
                      summary:
                        followees: 56
                        followers: 109278
                        hasNext: true
                        cursor: '20220807135613_814203'
      operationId: get-v1-users-userId-following-users
      description: 指定したユーザーIDのフォローしているユーザーを取得します。
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: string
            example: '0'
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
        - schema:
            type: integer
          in: query
          name: pageSize
          required: true
        - schema:
            type: integer
            default: 1
          in: query
          name: page
      tags:
        - Users
  '/v1/users/{userId}/followed-by/users':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Get User FollowedBy User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: ./models/MinimamUser.yaml
                      summary:
                        type: object
                        properties:
                          followees:
                            type: integer
                          followers:
                            type: integer
                          hasNext:
                            type: boolean
                          cursor:
                            type: string
                required:
                  - meta
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      items:
                        - type: relationship
                          relationships:
                            sessionUser:
                              isFollowing: true
                          isPremium: true
                          description: 'VOICEROIDの動画を作ってます。<br/>【放送室】co2979039 【YouTube】https://www.youtube.com/c/Kisaragiragi<br/>【連絡先】https://twitter.com/Ragi05'
                          strippedDescription: 'VOICEROIDの動画を作ってます。【放送室】co2979039 【YouTube】https://www.youtube.com/c/Kisaragiragi【連絡先】https://twitter.com/Ragi05'
                          shortDescription: 'VOICEROIDの動画を作ってます。【放送室】co2979039 【YouTube】https:/'
                          id: 814203
                          nickname: 如月ラギ
                          icons:
                            small: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/s/81/814203.jpg?1637921130'
                            large: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/81/814203.jpg?1637921130'
                      summary:
                        followees: 56
                        followers: 109278
                        hasNext: true
                        cursor: '20220807135613_814203'
      operationId: get-v1-users-userId-followed-by-users
      description: 指定したユーザーIDのフォローされているユーザーを取得します。
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: string
            example: '0'
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
        - schema:
            type: integer
          in: query
          name: pageSize
          required: true
        - schema:
            type: integer
            default: 1
          in: query
          name: page
      tags:
        - Users
  '/v1/users/{userId}/creator-support':
    parameters:
      - schema:
          type: integer
        name: userId
        in: path
        required: true
        description: ユーザーID
    get:
      summary: Your GET endpoint
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      creatorSupport:
                        type: object
                        properties:
                          isSupportable:
                            type: boolean
                          canOpenCreatorSupport:
                            type: boolean
                          supporterStatus:
                            type: object
                            properties:
                              isSupporting:
                                type: boolean
                              isBanned:
                                type: boolean
      operationId: get-v1-users-userId-creator-support
      description: 指定したユーザーIDのクリエイターサポートに関する情報を取得します
      parameters:
        - schema:
            type: integer
            default: 6
          in: header
          name: x-Frontend-Id
          description: 固定で6
          required: true
        - schema:
            type: integer
            default: 0
          in: header
          name: x-Frontend-Version
          description: 固定で0
          required: true
  /v2/search/video:
    get:
      summary: Search Videos By Keyword or Tag
      tags:
        - Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      searchId:
                        type: string
                      keyword:
                        type: string
                        nullable: true
                      tag:
                        type: string
                        nullable: true
                      genres:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            labe;:
                              type: string
                      totalCount:
                        type: integer
                      hasNext:
                        type: boolean
                      items:
                        type: array
                        items:
                          $ref: ./models/EssentialVideo.yaml
                      additionals:
                        type: object
                        properties:
                          waku:
                            type: object
                          tags:
                            type: array
                            items:
                              type: object
                              properties:
                                text:
                                  type: string
                                type:
                                  type: string
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      searchId: 45629418-d06e-4ea0-8f28-f89007ba0f46
                      keyword: VOICEROID実況プレイ
                      tag: null
                      genres:
                        - key: game
                          label: ゲーム
                      totalCount: 3728
                      hasNext: true
                      items:
                        - type: essential
                          id: sm41266162
                          title: みんなお待ちかねのトロンボーンカードタイム！！！！！！【Trombone Champ】
                          registeredAt: '2022-10-22T20:00:00+09:00'
                          count:
                            view: 890
                            comment: 42
                            mylist: 10
                            like: 161
                          thumbnail:
                            url: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266162/41266162.31683622'
                            middleUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266162/41266162.31683622.M'
                            largeUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266162/41266162.31683622.L'
                            listingUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266162/41266162.31683622.M'
                            nHdUrl: 'https://img.cdn.nimg.jp/s/nicovideo/thumbnails/41266162/41266162.31683622.original/r640x360l?key=96dbe4f8bb405f8db5c302fc055e5c7d1d13428b8f72916cc818ab2ff84e9530'
                          duration: 95
                          shortDescription: 待たせたね！！！！！！！！！【ことのはうす。シリーズ】series/272272【ことのあそびシリー
                          latestCommentSummary: ストラビンスキーと言えば映像の世紀だな！！ おつ うぽつ おつ うぽつ ぽつー うぽつ うぽつ うぽつー おつ うぽつ ふふふ ドヤッシー 安定のトイボクシング 何故ホットドッグ？ レピッシュ ノートロンボーンノーライフ 乙です うぽつ ことのあーそ...
                          isChannelVideo: false
                          isPaymentRequired: false
                          playbackPosition: null
                          owner:
                            ownerType: user
                            type: user
                            visibility: visible
                            id: '35947073'
                            name: いえろーず
                            iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/3594/35947073.jpg?1658435372'
                          requireSensitiveMasking: false
                          videoLive: null
                          isMuted: false
                          9d091f87: false
                          acf68865: false
                      additionals:
                        tags:
                          - text: VOICEROID実況プレイ
                            type: included_word
                          - text: VOICEROID実況プレイPart1リンク
                            type: included_word
                          - text: VOICEROID実況プレイ最終回リンク
                            type: included_word
                          - text: VOICEROID実況プレイ単発リンク
                            type: included_word
                          - text: 多人数VOICEROID実況プレイ
                            type: included_word
                          - text: 非VOICEROID実況プレイ
                            type: included_word
                          - text: voiceroid実況プレイ琴葉茜・葵実況プレイ
                            type: included_word
                          - text: 非VOICEROID実況プレイPart1リンク
                            type: included_word
                          - text: 多人数VOICEROID実況プレイPart1リンク
                            type: included_word
                          - text: voiceroid実況プレイ動画
                            type: included_word
                        waku: {}
      operationId: get-v2-search-video
      description: |-
        動画を指定した条件で検索します
        **QueryParamsのkeywordとtagはどちらかを必ず指定しなければなりません**
      parameters:
        - schema:
            type: integer
            default: 6
          in: header
          name: X-Frontend-Id
          description: 固定で6
          required: true
        - schema:
            type: integer
            default: 0
          in: header
          name: X-Frontend-Version
          description: 固定で0
          required: true
        - schema:
            type: string
          in: query
          name: keyword
          description: キーワード検索
          required: true
        - schema:
            type: string
          in: query
          name: tag
          description: タグ検索
          required: true
        - schema:
            type: string
          in: query
          name: pageSize
        - schema:
            type: string
          in: query
          name: page
        - schema:
            type: string
            enum:
              - registeredAt
              - viewCount
              - lastCommentTime
              - commentCount
              - likeCount
              - mylistCount
              - duration
              - hot
              - personalized
          in: query
          name: sortKey
          required: true
        - schema:
            type: string
            enum:
              - asc
              - desc
              - none
          in: query
          name: sortOrder
          required: true
        - schema:
            type: string
            enum:
              - mask
              - filter
          in: query
          name: sensitiveContents
        - schema:
            type: array
            default:
              - game
              - entertainment
          in: query
          name: genres
          description: ジャンル
        - schema:
            type: string
            example: included
          in: query
          name: channelVideoListingStatus
          description: チャンネル動画を表示するか
        - schema:
            type: boolean
            example: true
          in: query
          name: allowFutureContents
          description: 未来のコンテンツを表示するか
        - schema:
            type: boolean
            example: true
          in: query
          name: searchByUser
          description: ユーザー情報に基づき表示するか
        - schema:
            type: string
            example: '2022-10-22T23:21:55+09:00'
          in: query
          name: minRegisteredAt
          description: よりも後に投稿された動画
        - schema:
            type: string
            example: '2022-10-22T23:21:55+09:00'
          in: query
          name: maxRegisteredAt
          description: よりも前に投稿された動画
        - schema:
            type: integer
            example: 300
          in: query
          name: maxDuration
          description: 最長の動画長さ(秒)
  /v2/search/facet:
    get:
      summary: Get Facet of Videos By Keyword or Tag
      tags:
        - Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            genre:
                              type: object
                              properties:
                                key:
                                  type: string
                                label:
                                  type: string
                            count:
                              type: integer
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      items:
                        - genre:
                            key: entertainment
                            label: エンターテイメント
                          count: 4
                        - genre:
                            key: radio
                            label: ラジオ
                          count: 0
                        - genre:
                            key: music_sound
                            label: 音楽・サウンド
                          count: 0
                        - genre:
                            key: dance
                            label: ダンス
                          count: 0
                        - genre:
                            key: animal
                            label: 動物
                          count: 0
                        - genre:
                            key: nature
                            label: 自然
                          count: 0
                        - genre:
                            key: cooking
                            label: 料理
                          count: 0
                        - genre:
                            key: traveling_outdoor
                            label: 旅行・アウトドア
                          count: 0
                        - genre:
                            key: vehicle
                            label: 乗り物
                          count: 0
                        - genre:
                            key: sports
                            label: スポーツ
                          count: 0
                        - genre:
                            key: society_politics_news
                            label: 社会・政治・時事
                          count: 0
                        - genre:
                            key: technology_craft
                            label: 技術・工作
                          count: 0
                        - genre:
                            key: commentary_lecture
                            label: 解説・講座
                          count: 0
                        - genre:
                            key: anime
                            label: アニメ
                          count: 0
                        - genre:
                            key: game
                            label: ゲーム
                          count: 708
                        - genre:
                            key: other
                            label: その他
                          count: 0
                        - genre:
                            key: r18
                            label: R-18
                          count: 0
      operationId: get-v2-search-facet
      description: |-
        指定した条件で検索した動画の各ジャンルごとの動画数を取得します
        **QueryParamsのkeywordとtagはどちらかを必ず指定しなければなりません**
      parameters:
        - schema:
            type: integer
            default: 6
          in: header
          name: X-Frontend-Id
          description: 固定で6
          required: true
        - schema:
            type: integer
            default: 0
          in: header
          name: X-Frontend-Version
          description: 固定で0
          required: true
        - schema:
            type: string
          in: query
          name: keyword
          description: キーワード検索
          required: true
        - schema:
            type: string
          in: query
          name: tag
          description: タグ検索
          required: true
        - schema:
            type: string
            enum:
              - mask
              - filter
          in: query
          name: sensitiveContents
        - schema:
            type: array
            default:
              - game
              - entertainment
          in: query
          name: genres
          description: ジャンル
        - schema:
            type: string
            example: included
          in: query
          name: channelVideoListingStatus
          description: チャンネル動画を表示するか
        - schema:
            type: boolean
            example: true
          in: query
          name: allowFutureContents
          description: 未来のコンテンツを表示するか
        - schema:
            type: boolean
            example: true
          in: query
          name: searchByUser
          description: ユーザー情報に基づき表示するか
        - schema:
            type: string
            example: '2022-10-22T23:21:55+09:00'
          in: query
          name: minRegisteredAt
          description: よりも後に投稿された動画
        - schema:
            type: string
            example: '2022-10-22T23:21:55+09:00'
          in: query
          name: maxRegisteredAt
          description: よりも前に投稿された動画
        - schema:
            type: integer
            example: 300
          in: query
          name: maxDuration
          description: 最長の動画長さ(秒)
    parameters: []
  /v1/search/user:
    get:
      summary: Search User By Keyword
      tags:
        - Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      requestId:
                        type: string
                      totalCount:
                        type: integer
                      hasNext:
                        type: boolean
                      items:
                        type: array
                        items:
                          $ref: ./models/SearchUser.yaml
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      requestId: 3c112e28-d1ae-44ea-b1cd-116f0e3bf111
                      totalCount: 11977
                      hasNext: true
                      items:
                        - type: userSearch
                          followerCount: 67877
                          videoCount: 1329
                          liveCount: 478
                          relationships:
                            sessionUser:
                              isFollowing: true
                          isPremium: true
                          description: 'VOICEROID実況者でありゆっくり実況者であり解説動画制作者であり薬剤師でもある魚です。アイコンはシカさん（@kushiyakimo）に描いていただきました！強そう！<br>コミュニティ作りました！→co3794816<br>Twitter→@iwashi_pharm         Youtube→https://www.youtube.com/channel/UCcLWyYVS3ysazvYjN7pKXuw '
                          strippedDescription: 'VOICEROID実況者でありゆっくり実況者であり解説動画制作者であり薬剤師でもある魚です。アイコンはシカさん（@kushiyakimo）に描いていただきました！強そう！コミュニティ作りました！→co3794816Twitter→@iwashi_pharm         Youtube→https://www.youtube.com/channel/UCcLWyYVS3ysazvYjN7pKXuw '
                          shortDescription: VOICEROID実況者でありゆっくり実況者であり解説動画制作者であり薬剤師でもある魚です。アイコン
                          id: 15086302
                          nickname: いわし＠超ビビリ
                          icons:
                            small: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/s/1508/15086302.jpg?1531036390'
                            large: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/1508/15086302.jpg?1531036390'
      operationId: get-v1-search-user
      parameters:
        - schema:
            type: integer
            default: 6
          in: header
          name: X-Frontend-Id
          description: 固定で6
        - schema:
            type: integer
            default: 0
          in: header
          name: X-Frontend-Version
          description: 固定で0
        - schema:
            type: string
          in: query
          name: keyword
          required: true
        - schema:
            type: string
            default: _personalized
            enum:
              - _personalized
              - followerCount
              - videoCount
              - liveCount
          in: query
          name: sortKey
        - schema:
            type: integer
            default: 100
          in: query
          name: pageSize
        - schema:
            type: integer
            default: 1
          in: query
          name: page
        - schema:
            type: string
          in: cookie
          name: user-session
          description: ユーザーセッション(なくても機能します)
      description: ユーザーを指定した条件で検索します
  /v1/search/list:
    get:
      summary: Search Lists or Series By Keyword
      tags:
        - Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      searchId:
                        type: string
                      totalCount:
                        type: integer
                      hasNext:
                        type: boolean
                      items:
                        type: array
                        items:
                          $ref: ./models/MinimamList.yaml
      operationId: get-v1-search-list
      description: マイリスト及びシリーズを指定した条件で取得する
      parameters:
        - schema:
            type: integer
            default: 6
          in: header
          name: X-Frontend-Id
          description: 固定で6
          required: true
        - schema:
            type: integer
            default: 0
          in: header
          name: X-Frontend-Version
          description: 固定で0
          required: true
        - schema:
            type: string
          in: query
          name: keyword
          required: true
        - schema:
            type: string
            enum:
              - _hotTotalScore
              - videoCount
              - startTime
            default: _hotTotalScore
          in: query
          name: sortKey
        - schema:
            type: string
            enum:
              - mylist
              - series
          in: query
          name: types
          description: 未指定だとどちらも
        - schema:
            type: string
          in: query
          name: pageSize
        - schema:
            type: string
          in: query
          name: page
  /v1/new-arrival/videos:
    get:
      summary: Get New Arrival Videos
      tags:
        - Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      hasNext:
                        type: boolean
                      items:
                        type: array
                        items:
                          $ref: ./models/EssentialVideo.yaml
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      hasNext: true
                      items:
                        - type: essential
                          id: sm41268668
                          title: YOUKAI ZOSHIGAYA 【F-10】
                          registeredAt: '2022-10-23T01:15:03+09:00'
                          count:
                            view: 0
                            comment: 0
                            mylist: 0
                            like: 0
                          thumbnail:
                            url: 'http://nicovideo.cdn.nimg.jp/thumbnails/41268668/41268668.35633386'
                            middleUrl: 'http://nicovideo.cdn.nimg.jp/thumbnails/41268668/41268668.35633386.M'
                            largeUrl: 'http://nicovideo.cdn.nimg.jp/thumbnails/41268668/41268668.35633386.L'
                            listingUrl: 'http://nicovideo.cdn.nimg.jp/thumbnails/41268668/41268668.35633386.M'
                            nHdUrl: 'http://img.cdn.nimg.jp/s/nicovideo/thumbnails/41268668/41268668.35633386.original/r640x360l?key=56aad85a188b582b1796d570aebcc4df62d4890bffd9f6b9165f4c4cba110213'
                          duration: 37
                          shortDescription: 'https://www.youtube.com/watch?v=8zEc0Z4bCIk'
                          latestCommentSummary: ''
                          isChannelVideo: false
                          isPaymentRequired: false
                          playbackPosition: null
                          owner:
                            ownerType: user
                            type: user
                            visibility: visible
                            id: '126361504'
                            name: FERNANDEZ
                            iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/defaults/blank.jpg'
                          requireSensitiveMasking: false
                          videoLive: null
                          isMuted: false
                          9d091f87: false
                          acf68865: false
                      createdAt: '2022-10-23T01:16:03+09:00'
      operationId: get-v1-new-arrival-videos
      parameters:
        - schema:
            type: integer
            default: 6
          in: header
          name: X-Frontend-Id
          description: 固定で6
          required: true
        - schema:
            type: integer
            default: 0
          in: header
          name: X-Frontend-Version
          description: 固定で0
          required: true
        - schema:
            type: integer
          in: query
          name: pageSize
          required: true
        - schema:
            type: integer
          in: query
          name: page
          required: true
        - schema:
            type: string
            enum:
              - mask
              - filter
            default: mask
          in: query
          name: sensitiveContents
          description: センシティブな動画を隠すか
      description: 新着動画の取得
  '/v1/ranking/genre/{genreKey}':
    parameters:
      - schema:
          type: string
        name: genreKey
        in: path
        required: true
        description: genreKeyを参照
    get:
      summary: Get Ranking By GenreKey
      tags:
        - Ranking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hasNext:
                    type: boolean
                  items:
                    type: array
                    items:
                      $ref: ./models/EssentialVideo.yaml
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      items:
                        - type: essential
                          id: sm41266508
                          title: 【ふにんがす】新役職実装回　催眠なんかに絶対負けないふにんがす【Amongus】
                          registeredAt: '2022-10-22T19:00:00+09:00'
                          count:
                            view: 24649
                            comment: 996
                            mylist: 96
                            like: 3935
                          thumbnail:
                            url: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266508/41266508.14785630'
                            middleUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266508/41266508.14785630.M'
                            largeUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266508/41266508.14785630.L'
                            listingUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266508/41266508.14785630.M'
                            nHdUrl: 'https://img.cdn.nimg.jp/s/nicovideo/thumbnails/41266508/41266508.14785630.original/r640x360l?key=5885dea9faa39f4b7c8653796718761031af3c339de9fa4fa811efa52b9ebed4'
                          duration: 530
                          shortDescription: １０月１６日に行われた新役職実装祭りの動画です。収録中にPCがシャットダウンしたため動画データ壊れた
                          latestCommentSummary: ククク…お楽しみに… シルクちゃんのチラリズムからしか接種できない栄養素があるのだ 犯人はヤスだな。 頭にビール咲いてますよ みんなこっそり見てたんでしょ うぽつ シル、魔球と初期勢の動画ありがてえ クルーの能力が取れ～た～ 端末の陰に骨見えるがあれ...
                          isChannelVideo: false
                          isPaymentRequired: false
                          playbackPosition: 0
                          owner:
                            ownerType: user
                            type: user
                            visibility: visible
                            id: '220860'
                            name: シルシラ
                            iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/22/220860.jpg?1583491000'
                          requireSensitiveMasking: false
                          videoLive: null
                          isMuted: false
                          9d091f87: false
                          acf68865: false
                      hasNext: true
      operationId: get-v1-ranking-genre-genreKey
      description: |-
        ジャンルごとのランキングを取得。全ジャンルの場合はgenreKey=total

        ### genreKey
        - **all**: すべてのジャンルのランキング
        - **{genre.key}**: /v2/genre から取得できるジャンルのキー

        ### PopularTag
        - /v1/genres/{genreKey}/popular-tags で取得できる人気のタグ
        - QueryParamsからtagを指定できる

        |type＼term|hour|24h|week|month|total|
        |-------|----|---|----|-----|-----|
        |all    |○   |○  |○   |○    |○    |
        |genre  |○   |○  |○   |○    |○    |
        |tag    |○   |○  |✕   |✕    |✕    |
      parameters:
        - schema:
            type: integer
          in: header
          name: X-Frontend-Id
          description: 固定で6
          required: true
        - schema:
            type: integer
          in: header
          name: X-Frontend-Version
          description: 固定で0
          required: true
        - schema:
            type: string
            enum:
              - hour
              - 24h
              - week
              - month
              - total
          in: query
          name: term
          required: true
          description: 集計の期間
        - schema:
            type: integer
          in: query
          name: page
        - schema:
            type: integer
          in: query
          name: pageSize
          description: '25,100のみ'
        - schema:
            type: string
            default: mask
            enum:
              - mask
              - filter
          in: query
          name: sensitiveContents
          description: センシティブな動画を隠すか
        - schema:
            type: string
          in: query
          name: tag
          description: popular-tagのいずれか
  /v1/ranking/hot-topic:
    get:
      summary: Get Hot-Topic Videos
      tags:
        - Ranking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hasNext:
                    type: boolean
                  items:
                    type: array
                    items:
                      $ref: ./models/EssentialVideo.yaml
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      items:
                        - type: essential
                          id: sm41266508
                          title: 【ふにんがす】新役職実装回　催眠なんかに絶対負けないふにんがす【Amongus】
                          registeredAt: '2022-10-22T19:00:00+09:00'
                          count:
                            view: 24649
                            comment: 996
                            mylist: 96
                            like: 3935
                          thumbnail:
                            url: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266508/41266508.14785630'
                            middleUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266508/41266508.14785630.M'
                            largeUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266508/41266508.14785630.L'
                            listingUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41266508/41266508.14785630.M'
                            nHdUrl: 'https://img.cdn.nimg.jp/s/nicovideo/thumbnails/41266508/41266508.14785630.original/r640x360l?key=5885dea9faa39f4b7c8653796718761031af3c339de9fa4fa811efa52b9ebed4'
                          duration: 530
                          shortDescription: １０月１６日に行われた新役職実装祭りの動画です。収録中にPCがシャットダウンしたため動画データ壊れた
                          latestCommentSummary: ククク…お楽しみに… シルクちゃんのチラリズムからしか接種できない栄養素があるのだ 犯人はヤスだな。 頭にビール咲いてますよ みんなこっそり見てたんでしょ うぽつ シル、魔球と初期勢の動画ありがてえ クルーの能力が取れ～た～ 端末の陰に骨見えるがあれ...
                          isChannelVideo: false
                          isPaymentRequired: false
                          playbackPosition: 0
                          owner:
                            ownerType: user
                            type: user
                            visibility: visible
                            id: '220860'
                            name: シルシラ
                            iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/22/220860.jpg?1583491000'
                          requireSensitiveMasking: false
                          videoLive: null
                          isMuted: false
                          9d091f87: false
                          acf68865: false
                      hasNext: true
      operationId: get-v1-ranking-hot-topic
      parameters:
        - schema:
            type: integer
          in: header
          name: X-Frontend-Id
          description: 固定で6
          required: true
        - schema:
            type: integer
          in: header
          name: X-Frontend-Version
          description: 固定で0
          required: true
        - schema:
            type: string
            enum:
              - hour
              - 24h
          in: query
          name: term
          required: true
          description: 集計の期間
        - schema:
            type: integer
          in: query
          name: page
        - schema:
            type: integer
          in: query
          name: pageSize
          description: '25,100のみ'
        - schema:
            type: string
            default: mask
            enum:
              - mask
              - filter
          in: query
          name: sensitiveContents
          description: センシティブな動画を隠すか
      description: 話題の動画を取得します
  '/v2/mylists/{mylistId}':
    parameters:
      - schema:
          type: string
        name: mylistId
        in: path
        required: true
    get:
      summary: Get Mylist Content
      tags:
        - List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      mylist:
                        $ref: ./models/Mylist.yaml
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      mylist:
                        id: 65776587
                        name: TABS
                        description: トータリー何とかかんとか
                        decoratedDescriptionHtml: トータリー何とかかんとか
                        defaultSortKey: addedAt
                        defaultSortOrder: desc
                        items:
                          - itemId: 1559887204
                            watchId: sm35230676
                            description: ''
                            decoratedDescriptionHtml: ''
                            addedAt: '2019-06-08T08:19:31+09:00'
                            status: public
                            video:
                              type: essential
                              id: sm35230676
                              title: 【TABS】葵のお留守番①VOICEROID実況
                              registeredAt: '2019-06-07T18:00:00+09:00'
                              count:
                                view: 393715
                                comment: 8825
                                mylist: 1552
                                like: 695
                              thumbnail:
                                url: 'https://nicovideo.cdn.nimg.jp/thumbnails/35230676/35230676.83267040'
                                middleUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/35230676/35230676.83267040.M'
                                largeUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/35230676/35230676.83267040.L'
                                listingUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/35230676/35230676.83267040.M'
                                nHdUrl: 'https://img.cdn.nimg.jp/s/nicovideo/thumbnails/35230676/35230676.83267040.original/r640x360l?key=dbadc3eff9ecc9251ee04391a006088ba2e2c14dbf5c8c45bb3a232838577b8e'
                              duration: 665
                              shortDescription: 葵ちゃんがメイン？の動画ですあと新キャラの日本面鳴花ヒメです竹槍の精霊って事でよろしくどうぞ！青い方
                              latestCommentSummary: いいよ パンジャンパンジャンパンジャンパンジャンパンジャンパンジャンパンジャンパンジャンパンジャンパンジャンパンジャンパンジャンパンジャンパンジャンパンジャン ﾃﾞｪｪｴｪｪｪｴｪｪｪｪｪｪｪｪｯｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪｪ...
                              isChannelVideo: false
                              isPaymentRequired: false
                              playbackPosition: null
                              owner:
                                ownerType: user
                                type: user
                                visibility: visible
                                id: '49977741'
                                name: たらちゃん（英国面）
                                iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/4997/49977741.jpg?1478777197'
                              requireSensitiveMasking: false
                              videoLive: null
                              isMuted: false
                              9d091f87: false
                              acf68865: false
                        totalItemCount: 1
                        hasNext: false
                        isPublic: true
                        owner:
                          ownerType: user
                          type: user
                          visibility: visible
                          id: '49977741'
                          name: たらちゃん（英国面）
                          iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/4997/49977741.jpg?1478777197'
                        hasInvisibleItems: false
                        followerCount: 10
                        isFollowing: false
      operationId: get-v2-mylists-mylistId
      parameters:
        - schema:
            type: number
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: number
            example: 0
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: query
          name: pageSize
        - schema:
            type: string
          in: query
          name: page
        - schema:
            type: string
          in: cookie
          name: user-session
        - schema:
            type: string
            enum:
              - addedAt
              - title
              - mylistComment
              - registeredAt
              - viewCount
              - lastComment
              - commentCount
              - likeCount
              - mylistCount
              - duration
          in: query
          name: sortKey
          description: ソート方式
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: sortOrder
          description: 降順か昇順か
      description: マイリストIDからマイリストの内容を取得します
  '/v2/series/{seriesId}':
    parameters:
      - schema:
          type: string
        name: seriesId
        in: path
        required: true
    get:
      summary: Get Mylist Content
      tags:
        - List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      detail:
                        $ref: ./models/DetailSeries.yaml
                      totalCount:
                        type: integer
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            meta:
                              type: object
                              properties:
                                id:
                                  type: string
                                order:
                                  type: integer
                                createdAt:
                                  type: string
                                updatedAt:
                                  type: string
                            video:
                              $ref: ./models/EssentialVideo.yaml
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      detail:
                        id: 363443
                        owner:
                          type: user
                          id: '49977741'
                          user:
                            type: essential
                            isPremium: true
                            description: |-
                              紅茶を飲むたびに私の動画を思い出すがいい▼<br>
                              ツイッター：https://twitter.com/taratya19800<br>
                              youtube：https://www.youtube.com/channel/UCcjBXcy-7sdo8syFyqlU5tw/videos<br>
                              ニコ生：co3007527<br>
                              支援絵：clip/1831804
                            strippedDescription: |-
                              紅茶を飲むたびに私の動画を思い出すがいい▼
                              ツイッター：https://twitter.com/taratya19800
                              youtube：https://www.youtube.com/channel/UCcjBXcy-7sdo8syFyqlU5tw/videos
                              ニコ生：co3007527
                              支援絵：clip/1831804
                            shortDescription: |-
                              紅茶を飲むたびに私の動画を思い出すがいい▼
                              ツイッター：https://twitter.com/ta
                            id: 49977741
                            nickname: たらちゃん（英国面）
                            icons:
                              small: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/s/4997/49977741.jpg?1478777197'
                              large: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/4997/49977741.jpg?1478777197'
                        title: スプラ
                        description: ''
                        decoratedDescriptionHtml: ''
                        thumbnailUrl: 'https://dcdn.cdn.nimg.jp/nicovideo/series/tmb/0/49977741/363443.1666180836'
                        isListed: true
                        createdAt: '2022-10-19T20:59:37+09:00'
                        updatedAt: '2022-10-19T21:00:36+09:00'
                      totalCount: 2
                      items:
                        - meta:
                            id: sm41131114
                            order: 1
                            createdAt: '2022-10-19T21:00:05+09:00'
                            updatedAt: '2022-10-19T21:00:05+09:00'
                          video:
                            type: essential
                            id: sm41131114
                            title: 【スプラトゥーン３】第１回ただの野良マッチをそれっぽく実況してみた。VOICEROID実況
                            registeredAt: '2022-09-25T15:00:00+09:00'
                            count:
                              view: 129389
                              comment: 2306
                              mylist: 208
                              like: 6827
                            thumbnail:
                              url: 'https://nicovideo.cdn.nimg.jp/thumbnails/41131114/41131114.89859446'
                              middleUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41131114/41131114.89859446.M'
                              largeUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41131114/41131114.89859446.L'
                              listingUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/41131114/41131114.89859446.M'
                              nHdUrl: 'https://img.cdn.nimg.jp/s/nicovideo/thumbnails/41131114/41131114.89859446.original/r640x360l?key=d83b731ff6a17711566ae2b3a1be8a5e4696c49afaba1ac669f0f9a18f74fe80'
                            duration: 494
                            shortDescription: 'スパイガジェット最強！パンジャンTシャツ作りました：https://tarapyon.booth.p'
                            latestCommentSummary: 出オチで草w やるじゃん なんやかんや茜ちゃんのおかげで勝てた試合だな 上手すぎる ｗｗｗｗｗｗｗ き　ほ　ん　は　ま　る ハハハッ(棒) デ　ス　ぺ　ナ　ザ　ッ　プ なぜネビルシュートさんが！？ ｱｵｲﾁｬﾝｲﾅｲﾄﾞｳｼﾃｰ マジかよ、すげぇ！ ...
                            isChannelVideo: false
                            isPaymentRequired: false
                            playbackPosition: null
                            owner:
                              ownerType: user
                              type: user
                              visibility: visible
                              id: '49977741'
                              name: たらちゃん（英国面）
                              iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/4997/49977741.jpg?1478777197'
                            requireSensitiveMasking: false
                            videoLive: null
                            isMuted: false
                            9d091f87: false
                            acf68865: false
      operationId: get-v2-series-mylistId
      parameters:
        - schema:
            type: integer
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: integer
            example: 0
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: query
          name: pageSize
        - schema:
            type: string
          in: query
          name: page
        - schema:
            type: string
          in: cookie
          name: user-session
        - schema:
            type: string
            enum:
              - addedAt
              - title
              - mylistComment
              - registeredAt
              - viewCount
              - lastComment
              - commentCount
              - likeCount
              - mylistCount
              - duration
          in: query
          name: sortKey
          description: ソート方式
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: sortOrder
          description: 降順か昇順か
      description: シリーズIDからシリーズの内容を取得します
  /v1/videos:
    get:
      summary: Get Video Data
      tags:
        - Video
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            watchId:
                              type: string
                            video:
                              $ref: ./models/EssentialVideo.yaml
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      items:
                        - watchId: sm33854807
                          video:
                            type: essential
                            id: sm33854807
                            title: 【初音ミク】アディショナルメモリー【オリジナルMV】
                            registeredAt: '2018-09-14T20:00:00+09:00'
                            count:
                              view: 2304921
                              comment: 17455
                              mylist: 17173
                              like: 1086
                            thumbnail:
                              url: 'https://nicovideo.cdn.nimg.jp/thumbnails/33854807/33854807'
                              middleUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/33854807/33854807.M'
                              largeUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/33854807/33854807.L'
                              listingUrl: 'https://nicovideo.cdn.nimg.jp/thumbnails/33854807/33854807.M'
                              nHdUrl: 'https://img.cdn.nimg.jp/s/nicovideo/thumbnails/33854807/33854807.original/r640x360l?key=aefa3a8fe1deb4ebfc92e2724232183faf7dc9adaeb65ac679b8b1a6f091d537'
                            duration: 240
                            shortDescription: 自然の敵Ｐことじんです。１6作目になります。最後の最後に遺った話。「友達なんかに、なりたくなかった」
                            latestCommentSummary: あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ あああああああああああああああああああああああああああああああああああああああああああああああああ...
                            isChannelVideo: false
                            isPaymentRequired: false
                            playbackPosition: null
                            owner:
                              ownerType: user
                              type: user
                              visibility: visible
                              id: '15872264'
                              name: じん
                              iconUrl: 'https://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/1587/15872264.jpg?1306843201'
                            requireSensitiveMasking: false
                            videoLive: null
                            isMuted: false
                            9d091f87: false
                            acf68865: false
      operationId: get-v1-videos
      parameters:
        - schema:
            type: integer
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: integer
            example: 0
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: array
          in: query
          name: watchIds
          description: 動画ID
      description: 動画IDで指定した複数の動画情報を取得します
  '/v1/videos/{videoId}/tags':
    parameters:
      - schema:
          type: string
        name: videoId
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - Video
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      isLockable:
                        type: boolean
                      isEditable:
                        type: boolean
                      uneditableReason:
                        type: string
                        nullable: true
                      tags:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            isLocked:
                              type: boolean
                            isLockedBySystem:
                              type: boolean
                            isNicodicArticleExists:
                              type: boolean
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      isLockable: false
                      isEditable: true
                      uneditableReason: null
                      tags:
                        - name: 春日部つむぎ
                          isLocked: true
                          isLockedBySystem: false
                          isNicodicArticleExists: true
                        - name: りょの字
                          isLocked: true
                          isLockedBySystem: false
                          isNicodicArticleExists: true
                        - name: VOICEROIDキッチン
                          isLocked: true
                          isLockedBySystem: false
                          isNicodicArticleExists: true
                        - name: voicevox
                          isLocked: true
                          isLockedBySystem: false
                          isNicodicArticleExists: true
                        - name: 紅生姜
                          isLocked: true
                          isLockedBySystem: false
                          isNicodicArticleExists: true
                        - name: カレー
                          isLocked: true
                          isLockedBySystem: false
                          isNicodicArticleExists: true
                        - name: 犯罪メシ選手権
                          isLocked: true
                          isLockedBySystem: false
                          isNicodicArticleExists: true
                        - name: 春日部つむぎ公式の犬
                          isLocked: false
                          isLockedBySystem: false
                          isNicodicArticleExists: false
                        - name: ドクターストップ
                          isLocked: false
                          isLockedBySystem: false
                          isNicodicArticleExists: false
                        - name: シャア専用
                          isLocked: false
                          isLockedBySystem: false
                          isNicodicArticleExists: false
                        - name: 着色料
                          isLocked: false
                          isLockedBySystem: false
                          isNicodicArticleExists: false
      operationId: get-v1-videos-videoId-tags
      description: 指定した動画IDのタグを取得します
      parameters:
        - schema:
            type: integer
            example: 6
          in: header
          name: x-Frontend-Id
          description: PC版は6固定
          required: true
        - schema:
            type: integer
            example: 0
          in: header
          name: x-Frontend-version
          description: PC版は0固定
          required: true
        - schema:
            type: string
          in: cookie
          name: user-session
  /v2/genres:
    get:
      summary: Get Current Genres
      tags:
        - Other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      genres:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            label:
                              type: string
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      genres:
                        - key: entertainment
                          label: エンターテイメント
                        - key: radio
                          label: ラジオ
                        - key: music_sound
                          label: 音楽・サウンド
                        - key: dance
                          label: ダンス
                        - key: animal
                          label: 動物
                        - key: nature
                          label: 自然
                        - key: cooking
                          label: 料理
                        - key: traveling_outdoor
                          label: 旅行・アウトドア
                        - key: vehicle
                          label: 乗り物
                        - key: sports
                          label: スポーツ
                        - key: society_politics_news
                          label: 社会・政治・時事
                        - key: technology_craft
                          label: 技術・工作
                        - key: commentary_lecture
                          label: 解説・講座
                        - key: anime
                          label: アニメ
                        - key: game
                          label: ゲーム
                        - key: other
                          label: その他
                        - key: r18
                          label: R-18
      operationId: get-v2-genres
      description: 現存するジャンルのキートラベルの組み合わせを取得します
      parameters:
        - schema:
            type: integer
          in: header
          name: X-Frontend-Id
          description: 固定で6
          required: true
        - schema:
            type: integer
          in: header
          name: X-Frontend-Version
          description: 固定で0
          required: true
  '/v1/genres/{genreKey}/popular-tags':
    parameters:
      - schema:
          type: string
        name: genreKey
        in: path
        required: true
        description: /v2/genres で取得できるジャンルのキー
    get:
      summary: Get PopularTag By GenreKey
      tags:
        - Other
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: ./models/Meta.yaml
                  data:
                    type: object
                    properties:
                      startAt:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
              examples:
                example:
                  value:
                    meta:
                      status: 200
                    data:
                      startAt: '2022-10-17T00:00:00+09:00'
                      tags:
                        - biim兄貴リスペクト
                        - VOICEROID実況プレイ
                        - RTA
                        - ふにんがす
                        - 遊戯王マスターデュエル
                        - ゆっくり実況プレイ
                        - スプラトゥーン3
                        - ウマ娘プリティーダービー
                        - TAS
                        - たべるんごのうた
                        - アイドルマスター
                        - ゲーム
                        - 実況プレイ動画
                        - TRPG
                        - 東方
      operationId: get-v1-genres-genreKey-popular-tags
      description: ジャンルごとの人気のタグを取得する
      parameters:
        - schema:
            type: integer
          in: header
          name: X-Frontend-Id
          description: 固定で6
          required: true
        - schema:
            type: integer
          in: header
          name: X-Frontend-Version
          description: 固定で0
          required: true
components:
  schemas: {}
  securitySchemes: {}
